* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Roboto Condensed', arial, sans-serif;
	text-align: center;
	min-width: 960px;
	background-color: #edeff0;
}

ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
*:focus {
	outline: none;
}
blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, tr, td, .tool-box{
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

input:focus {
	outline: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.red {
	color: #c25975;
}

.help, .footer a, .remove div, .add div, .clear, .reset, .circle, .colors li, .tools label, .undo, .redo {
	transition: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
/*===============================================================================================================*/

.header {
	width: 100%;
	height: 70px;
	background-color: #3e474f;
	position: relative;
	text-align: left;
}

.brand {
	color: #59c2ab;
	font-size: 20px;
	line-height: 70px;
	letter-spacing: 6px;
	text-transform: uppercase;
	margin-left: 25px;
	width: 500px;
	cursor: default;
}

.help {
	color: #59c2ab;
	text-align: center;
	height: 70px;
	width: 70px;
	display: block;
	font-size: 24px;
	line-height: 70px;
	position: absolute;
	top: 0;
	right: 0;
}

.help:hover {
	color: #f9fafa;
	background-color: #59c2ab;
}
.container {
	display: inline-block;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	margin: calc(35vh - 150px) auto;
	text-align: center;
}

.top {
	text-transform: uppercase;
	background-color: #59c2ab;
	height: 70px;
	border-radius: 4px 4px 0 0;
}

.top h2 {
	color: #edeff0;
	font-size: 20px;
	line-height: 70px;
	letter-spacing: 4px;
}

.tool-box {
	background-color: #f9fafa;
	padding: 30px;
	text-transform: uppercase;
}

.dimensions {
	width: 100%;
	height: 50px;
}

.height-input,
.width-input {
	height: 50px;
	width: 150px;
	float: left;
}

.height-input .icon,
.width-input .icon {
	color: #59c2ab;
	width: 50px;
	height: 50px;
	padding-top: 15px;
	background-color: #edeff0;
	border: 1px solid #b2bbbd;
	display: block;
	float: left;
}

.width-input .icon {
	border-radius: 4px 0 0 4px;
}

.height-input .icon {
	border-radius: 0 4px 4px 0;
}

.svg {
	height: 20px;
	width: 20px;
}

.height-input input,
.width-input input {
	height: 50px;
	width: 100px;
	font-size: 20px;
	color: #7b8b8e;
	background-color: #fff;
	border: 1px solid #b2bbbd;
	display: block;
	float: left;
	text-align: center;
	line-height: 50px;
}

.height-input input {
	border-right: 0;
	border-radius: 4px 0 0 4px;
}

.width-input input {
	border-left: 0;
	border-radius: 0 4px 4px 0;

}

.times {
	height: 20px;
	width: 20px;
	float: left;
	margin: 15px 60px;
	color: #7b8b8e;
}

.notice {
	font-size: 12px;
	color: #b2bbbd;
	margin: 20px auto 10px;
}

hr {
	width: 100%;
	height: 1px;
	background-color: #edeff0;
}

.bg-canvas {
	margin: 20px auto;
}

input[type='color'] {
	width: 0;
	height: 0;
	opacity: 0;
}

.bg-picker {
	vertical-align: middle;
	background-color: #fff;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.circle {
	box-shadow: 0 0 3px 1px rgba(178, 187, 189, 0.5);
	border-radius: 50%;
}

.bg-color-notice {
	color: #7b8b8e;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.create-canvas {
	height: 50px;
	width: 200px;
	background-color: #59c2ab;
	color: #edeff0;
	font-size: 20px;
	line-height: 50px;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-radius: 4px;
	margin-top: 15px;
}

.create-canvas:hover {
	cursor: pointer;
	background-color: #4eab97;
}
/*===============================================================================================================*/
/*    CANVAS LAYOUT     */
/*===============================================================================================================*/

.canvas {
	margin: 30px auto;
/*	width: 80%;*/
	min-width: 960px;
}

.canvas .top {
	height: 4px;
}

.canvas h2,
.canvas form.setup {
	display: none
}
.canvas-tools {
	display: none;
}
.canvas .canvas-tools {
	display: block;
	width: 850px;
	margin: 0 auto;
}
.canvas .tool-box {
	height: 70px;
	padding: 20px;
}

.undo, .redo {
	font-size: 30px;
	line-height: 70px;
	color: #b2bbbd;
	cursor: pointer;
}
.undo:hover, .redo:hover, .tools label:hover {
	color: #59c2ab;
}
.undo-redo, .tools, .colors, .add, .remove {
	float: left;
	padding: 0 15px;
	border-right: 1px solid #b2bbbd;
	vertical-align: middle;
	cursor: default;
	height: 30px;
}

.tools input[type='radio'] {
	display: none;
	margin: 0;
	padding: 0;
}

.tools label {
	font-size: 16px;
	line-height: 30px;
	color: #b2bbbd;
	width: 40px;
	height: 30px;
	display: inline-block;
	background-color: #fff;
	border-top: 1px solid #b2bbbd;
	border-bottom: 1px solid #b2bbbd;
	cursor: pointer;
	float: left;
}

.tools input[type="radio"]:checked+label {
	color: #59c2ab;
	background-color: #edeff0;
}

.tools label:last-of-type {
	border-radius: 0 4px 4px 0;
	border: 1px solid #b2bbbd;
}

.tools label:first-of-type {
	border-radius: 4px 0 0 4px;
	border: 1px solid #b2bbbd;
}

.colors {
	width: 301px;
	position: relative;
}
.colors .bg-picker {
	width: 70px;
	height: 40px;
	border-radius: 20px;
	margin-top: -5px;
	position: relative;
	float: left;
}

.colors .picker {
	height: 30px;
	width: 30px;
	background-color: #000;
	position: absolute;
	left: 50px;
}

.colors li {
	background-color: #fff;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	box-shadow: 0 0 3px 1px rgba(178, 187, 189, 0.5);
	display: inline-block;
}

.add {
	border-right: none;
}

.add, .remove {
	position: relative;
	width: 55px;
}

.add div, .remove div{
	color: #b2bbbd;
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
}

.add .d-icon {
	color: #59c2ab;
	top: 5px;
	left: 15px;
}

.d-top {
	top: -10px;
	left: 15px;
}

.d-right {
	top: 5px;
	left: 30px;
}

.d-bottom {
	bottom: -10px;
	left: 15px;
}

.d-left {
	top: 5px;
	left: 0;
}

.remove .d-icon {
	color: #c25975;
	top: 5px;
	left: 15px;
}

.add div:hover {
	color: #59c2ab;
}
.remove div:hover {
	color: #c25975;
}
.clear, .reset {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	width: 80px;
	text-transform: uppercase;
	border-radius: 4px;
	margin-left: 10px;
	background-color: transparent;
	border: 1px solid #b2bbbd;
	cursor: pointer;
}
.clear {
	color: #59c2ab;
}
.clear:hover, .reset:hover {
	color: #fff;
	border: none;
}
.clear:hover {
	background-color: #59c2ab;
}
.reset {
	color: #c25975;
}
.reset:hover{
	background-color: #c25975;
}
table {
	display: none;
	margin: 0 auto;
}
.canvas table {
	display: table;
}
table td {
	min-width: 20px;
	height: 20px;
	border: 1px solid #edeff0;
}

.footer {
	width: 100%;
	padding: 0 25px;
}
.footer hr {
	border-top: 1px solid #59c2ab;
	margin-bottom: 10px;
}

.credit {
	color: #b2bbbd;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.font:hover {
	color: #4dadf7;
}
.follow {
	float: right;
	cursor: default;
}
.follow a {
	font-size: 16px;
	color: #b2bbbd;
	margin-left: 10px;
}
.follow a:hover {
	color: #59c2ab;
}
